<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>
  @if (currency) {
  <input matInput [formControl]="control" type="text" currencyMask [options]="optionsCurrencyMask" [maxlength]="maxCharacters"
    [minlength]="minCharacters">
  } @else {
  <input matInput [formControl]="control" type="text" onlyNumber [maxlength]="maxCharacters"
    [minlength]="minCharacters">
  }
  <mat-error *ngIf="formService.invalid(control)">
    {{ formService.getErrorMessage(control) }}
  </mat-error>
</mat-form-field>