<mat-form-field appearance="outline" class="full-width" [class.field-no-error]="!showMessageError" (click)="$event.stopPropagation()">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input matInput [formControl]="control" type="text" onlyNumber [maxlength]="maxCharacters"
    [minlength]="minCharacters" (keyup.enter)="onEnter()" (blur)="onTouched()">
  <mat-error *ngIf="formService.invalid(control) && showMessageError">
    {{ formService.getErrorMessage(control) }}
  </mat-error>
</mat-form-field>