<mat-card class="upload-card">
  <mat-card-header>
    <mat-card-title>Cargar Archivo Excel</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="upload-container" 
         [class.disabled]="hasFile"
         (dragover)="onDragOver($event)" 
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)">
      <input
        type="file"
        #fileInput
        (change)="onFileSelected($event)"
        accept=".xlsx"
        style="display: none"
      />
      <div class="upload-content">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="cloud_upload"></mat-icon>
        <p>{{ hasFile ? 'Borra el archivo actual antes de cargar uno nuevo' : 'Arrastra y suelta un archivo Excel aquí o' }}</p>
        <button mat-raised-button color="primary" 
                (click)="fileInput.click()"
                [disabled]="hasFile">
          Seleccionar Archivo
        </button>
        <button 
          mat-raised-button 
          color="warn" 
          (click)="clearFile()"
          style="margin-left: 10px"
          *ngIf="hasFile">
          Borrar Archivo
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>