<div class="center">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="onFileSelected($event)"
    [accept]="excelConsumiblesConfig.SUPPORTED_FILE_TYPE" [multiple]="false">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" let-resetFileInput="resetFileInput">
      <div class="upload-content">
        <mat-icon aria-hidden="false" fontIcon="cloud_upload"></mat-icon>
        <strong class="upload-text">Arrastra y suelta un archivo Excel aquí</strong>
        <span>o</span>
        <button mat-raised-button color="primary" (click)="openFileSelector()" class="upload-button">
          Seleccionar Archivo
        </button>
        <app-chip *ngIf="currentFile() && currentFileName()" [label]="currentFileName()"
          (onRemove)="clearFile()"></app-chip>
      </div>
    </ng-template>
  </ngx-file-drop>
</div>