$colinaOrange: #f37421;

::ng-deep {
  .ngx-file-drop__drop-zone {
    border: 2px dashed #dadce1 !important;
    height: auto !important;
    padding: 2px !important;
    border-radius: 0px !important;
  }

  .ngx-file-drop__content {
    background: #eff1f6;
    color: #717074 !important;
    height: auto !important;
    padding: 15px !important;

    div {
      // margin: 2rem 1rem 0rem 1rem;
      text-align: center;

      img {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.upload-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  color: #757575;
}


.upload-text {
  font-weight: 500;
  font-size: 16px;
}

.upload-button {
  font-weight: 500;
  font-size: 16px;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 350px) {

  .upload-text {
    font-size: 14px;
  }

  .upload-button {
    font-size: 14px;
  }

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
}