<div [class.dark-theme]="isDarkTheme">
    <mat-toolbar color="primary">
      <span>Excel Bulk Loader</span>
      <span class="spacer"></span>
      <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleTheme()">
        <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>

    <div class="content">
      <app-file-upload (dataLoaded)="onDataLoaded($event)"></app-file-upload>
      @if (excelData.length && excelData.length>0) {
        <app-data-preview [data]="excelData"></app-data-preview>
      }
    </div>
  </div>